<%= render "shared/header" %>


<body class="shares_body">
  <h1 class="share_title">ASK YOUR QUESTION or SHARE YOUR RECOMMENDAION </h1>
  <div class="share_btn_wrapper">
    <%= link_to "◎ 質問・おすすめを投稿する ◎", new_vet_path, class:"share_btn" %>
  </div>

    <% @vets.each do |vet| %>
      <ul>
        <%= link_to vet_path(vet), method: :get do %>
          <li class="recommended_title">Title:  <%= vet.vet_title %><span class="share_comment_time">  (<%= vet.created_at.to_s(:datetime_jp) %>)</span></li>
          <li class="recommended_text"><%= vet.vet_text %></li>
        <% end %>
      </ul>
    <% end %>
  <%= paginate @vets %>

    <div class="top_page_link">
      <%= link_to "トップページに戻る", "/" %>
    </div>
</body>


<%= render "shared/footer" %>