<%= render "shared/header" %>

<body class="my_page_body">
  <div class="my_page_wrapper">
    <div class="nickname_wrap"> 
      <h1 class="nickname"><%= @user.nickname %>'s page</h1>
    </div>
    <div class="account_profile">
      <ul class="detail_profile">
     <div class="profile_title">Profile</div>
        <li>何派？: <%= @user.favorite.name %></li>
        <li>ペットの有無: <%= @user.have_pet.name %></li>
        <% if @user.pet_name.present? %>
          <li>Pet name: <%= @user.pet_name %></li>
        <% end %>
      </ul>
    </div>
      <div class="my_page_recommend_title">投稿したにゃんこ写真</div>
       <div class="my_page_pic_wrapper">
       <% if @cat_posts.present? %>
        <% @cat_posts.each do |c| %>
          <%= link_to cat_post_path(c), method: :get do %>
            <div class="my_page_card__body">
              <%= image_tag c.cat_image, class:"posted_pic" %> 
              <div class="my_page_card__text">
              Posted at: <div class="my_page_time"><%= c.created_at.to_s(:datetime_jp) %></div>
              </div>  
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div>投稿したにゃんこちゃんの写真はありません。</div>
      <% end %>
      </div>

      <div class="my_page_recommend_title">投稿したわんこ写真</div>
       <div class="my_page_pic_wrapper">
       <% if @dog_posts.present? %>
        <% @dog_posts.each do |d| %>
          <%= link_to dog_post_path(d), method: :get do %>
            <div class="my_page_card__body">
              <%= image_tag d.dog_image, class:"posted_pic" %> 
              <div class="my_page_card__text">
              Posted at: <div class="my_page_time"><%= d.created_at.to_s(:datetime_jp) %></div>
              </div>  
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div>投稿したわんこちゃんの写真はありません。</div>
      <% end %>
      </div>

      <div class="my_page_shares">
        <ul class="posted_recomm">
          <p class="my_page_recommend_title">投稿したオススメ</p>
          <% if @items.present? %>
            <% @items.each do |i| %>
              <%= link_to item_path(i), method: :get do %>
                <li class="my_page_share_title">Title:  <%= i.item_title %><span class="my_page_share_time">  (<%= i.created_at.to_s(:datetime_jp) %>)</span></li>
              <% end %>
            <% end %>
          <% else %>
            <div class="none_recommended">投稿したおすすめはありません。</div>
          <% end %>
        </ul>
      </div>
  </div>

  <div class="top_page_link">
    <%= link_to "トップページに戻る", "/" %>
  </div>
</body>


<%= render "shared/footer" %>

