<!DOCTYPE html>
<html>

<div class="header_border">
  <header class="site_header">
    <div class="main_header">
    <h1 class="title">
    <%= link_to root_path do %>
    <%= image_tag "cutie_pies.png", class:"logo" %>CUTIE<span class="hart">❤︎</span>PIES
    <% end %>
    </h1>
      <%= image_tag "black_cat.png", class:"black_cat" %>
    </div>
    
    <div class="header_lists">
        <ul>
          <% if user_signed_in? %> 
            <li class="header_list"><a href="#descriptionlink">Cutie Piesとは</a></li>
            <li><%= link_to current_user.nickname, class: "header_list" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header_list" %></li>
          <% else %>
            <li class="header_list"><a href="#descriptionlink">Cutie Piesとは</a></li>
            <li><%= link_to "ログイン", new_user_session_path, class: "header_list" %></li>
            <li><%= link_to "新規登録", new_user_registration_path, class: "header_list" %></li>
          <% end %>
        </ul>
    </div>
  </div>
</header>

<body>
  <%= yield %>
</body>

</html>

