<%= render "shared/header" %>

<body>
  <main class="cat_main">
    <div class="inner">
      <h1 class="page-title">SHARE YOUR CUTIE'S PICTURES</h1>
      <h3>可愛い写真をシェアしよう！</h3>
        <div class="pic">
            <% @cat_posts.first(4).each do |cat| %>
              <div class="card__body">
                <%= link_to cat_post_path(cat), method: :get do %>
                  <%= image_tag cat.cat_image, class:"posted_pic" %>
                  <div class="card__text">
                    <div class="card__user"><%= cat.user.nickname %></div>
                    <div class="card__title"><%= cat.cat_post_title %></div> 
                  </div>
                <% end %>
              </div>
            <% end %>
        </div>
      <div class="btn_wrapper">  
      <%= link_to posted_cat_post_index_path do %>
        <span class="see_more">もっと見る<%= image_tag "next_page.png", class: "next_page" %></span>
      <% end %>
      <%= link_to new_cat_post_path do %>
        <span class="post_btn">投稿する<%= image_tag "next_page.png", class: "next_page" %></span>
      <% end %>
      
      </div>
    </div>

      <h1 class="page-title">SHARE AND HAVE A CHAT!</h1>
        <h3>おすすめをシェアしよう！</h3>
        <div class ="recommendations_main">
          <ul>
            <%= link_to foods_path do %>
              <li class="recommended_list"><%= image_tag "cats_talking.jpg" %><p class="recommendation_title">CAT FOOD</p></li>
            <% end %>
            <%= link_to items_path do %>
             <li class="recommended_list"><%= image_tag "recommended_toys.jpg" %><p class="recommendation_title">FOODS/GOODS</p></li>
            <% end %>
           <%= link_to vets_path do %>
            <li class="recommended_list"><%= image_tag "recommended_vets.jpg" %><p class="recommendation_title">SICK/VET</p></li>
          <% end %>
          </ul>
        </div>
        
    <%= render "shared/link_to_top" %>
  </main>
</body>

<%= render "shared/footer" %>

