<%= render "shared/header" %>

<body class="food_body">
  <h1 class="share_food_title">SHARE YOUR PET FOOD RECOMMENDATION </h1>
  <div class="share_food_btn_wrapper">
    <%= link_to "◎ おすすめを投稿する ◎", new_food_path, class:"share_food_btn" %>
  </div>


    <% @foods.each do |food| %>
      <ul>
        <%= link_to food_path(food), method: :get do %>
          <li class="food_recommend_title">Title:  <%= food.food_title %><span class="food__time">  (<%= food.created_at.to_s(:datetime_jp) %>)</span></li>
          <li class="food_recommend_text"><%= food.food_text %></li>
        <% end %>
      </ul>
    <% end %>
  <%= paginate @foods %>

    <div class="top_page_link">
      <%= link_to "トップページに戻る", "/" %>
    </div>
</body>


<%= render "shared/footer" %>