<%= render "shared/header" %>

<body class="food_body">
  <h1 class="share_food_title">SHARE YOUR PET FOOD RECOMMENDATION </h1>


  <div class="posted_food_info">  
    <div class="food_image">
      <% if @food.food_image.present? %>
        <%= image_tag @food.food_image, class:"posted_picture" %> 
      <% else%>
        <%= image_tag "no_image_available.png", class:"posted_picture" %>
      <% end %>
    </div>
    <div class="posted_foods">
      <div class="food_posted_user">Nickname:  <%= @food.user.nickname %></div>
      <div class="posted_food_title">Title:  <%= @food.food_title %></div> 
      <div class="posted_food_text">Messages:  <%= @food.food_text %></div> 
    </div>
  </div>

    <div class="food_comment_info">
    <% if @food_comments.present? %>
        <% @food_comments.each do |fc| %>
          <ul class="food_comment_list">
            <li class="food_comment_user"><%= fc.user.nickname %>：</li>
            <li class="posted_food_comment"><%= fc.food_comment %></li>
          </ul>
        <% end %>
      <% else %>
        <div class="no_food_comment">コメントはありません</div>
    <% end %>
    </div>

  <div class="container">
      <%= form_with(model: [@food_comment,@food], url:food_food_comments_path(@food), method: :post, local: true) do |f| %>
        <%= f.text_area :food_comment, placeholder: "コメントを入力", class:"comment_field food_comment_field" %>
      <div><%= f.submit "コメントする", class:"food_comment_btn" %></div>
      <% end %>
  </div>

    <div class="top_page_link">
      <%= link_to "前のページに戻る", :back %>
    </div>
</body>


<%= render "shared/footer" %>