<%= render "shared/second-header" %>

<%= form_with model:@room, url:rooms_path, class:"cat_pic_post", local: true do |f| %> 
  <div class="cat_post_main">
    <div class="cat_post_header">
      <h2 class="cat_posting">チャットルームを作成</h2>
    </div>

      <div class="chat-form-group">
        <div class='chat-form-wrap'>
          <label class="chat-form-text">チャットルームタイトル</label>
        </div>
          <%= f.text_field :name, class:"post_title", id:"chat_title", placeholder:"タイトル30", maxlength:"30" %>
      </div>

      <%= f.submit "投稿する" ,class:"form-submit" %>
    </div>
<% end %> 

<%= render "shared/second-footer" %>