<%= render "shared/header" %>


  <div id="message-container">
    <%= render 'shared/message' %>
  </div>

  <%= render 'shared/chat_footer' %>

    <div class="top_page_link">
      <%= link_to "トップページに戻る", "/" %>
    </div>
</body>


<%= render "shared/footer" %>