<%= render "shared/second-header" %>

<%= form_with model:@item, url:items_path, class:"cat_pic_post", local: true do |f| %> 
  <div class="cat_post_main">
    <div class="cat_post_header">
      <h2 class="cat_posting">おすすめ情報を入力</h2>
    </div>

      <label class="form-image">
        <div class="image-file">
          <span>画像を選択</span>
          <%= f.file_field :item_image, class:"hidden" %>
        </div>
      </label>

      <div class="post-form-group">
        <div class='post-form-wrap'>
          <label class="post-form-text">タイトル</label>
        </div>
          <%= f.text_field :item_title, class:"post_title", id:"post_title", placeholder:"タイトル(22文字まで)", maxlength:"22" %>
      </div>

      <div class="post-form-group">
        <div class='post-form-wrap'>
          <label class="post-form-text">おすすめの詳細</label>
        </div>
        <%= f.text_area :item_text, class:"post_message", id:"post_message", placeholder:"おすすめの詳細(385文字まで)", maxlength:"385" %>
      </div>

      <%= f.submit "投稿する" ,class:"form-submit" %>
    </div>
<% end %> 

<%= render "shared/second-footer" %>