<%= render "shared/header" %>

<body class="shares_body">
  <h1 class="share_title">SHARE YOUR RECOMMENDATION FOR CUTIES </h1>


  <div class="posted_share_info">  
    <div class="posted_image">
      <% if @item.item_image.present? %>
        <%= image_tag @item.item_image, class:"posted_picture" %> 
      <% else%>
        <%= image_tag "no_image_available.png", class:"posted_picture" %>
      <% end %>
    </div>
    <div class="posted_shares">
      <div class="share_posted_user">Nickname:  <%= @item.user.nickname %></div>
      <div class="posted_share_title">Title:  <%= @item.item_title %></div> 
      <div class="posted_share_time">Posted at: <%= @item.created_at.to_s(:datetime_jp) %></div> 
     <div class="posted_share_text">Messages: <%= Rinku.auto_link(@item.item_text, :all, 'target="_blank"').html_safe %></div> 
    </div>
  </div>

    <div class="share_comment_info">
    <% if @item_comments.present? %>
        <% @item_comments.each do |ic| %>
          <ul class="share_comment_list">
            <li class="share_comment_user"><%= ic.user.nickname %>：</li>
            <li class="posted_share_comment"><%= Rinku.auto_link(ic.item_comment, :all, 'target="_blank"').html_safe %><span class="share_comment_time">   (<%= ic.created_at.to_s(:datetime_jp) %>)</span></li>
          </ul>
        <% end %>
      <% else %>
        <div class="no_comment">コメントはありません</div>
    <% end %>
    </div>




  <div class="container">
      <%= form_with(model: [@item_comment,@item], url:item_item_comments_path(@item), method: :post, local: true) do |f| %>
        <%= f.text_area :item_comment, placeholder: "コメントを入力", class:"comment_field share_comment_field" %>
      <div><%= f.submit "コメントする", class:"share_comment_btn" %></div>
      <% end %>
  </div>

    <div class="top_page_link">
      <%= link_to "前のページに戻る", :back %>
    </div>
</body>


<%= render "shared/footer" %>