<%= render "shared/header" %>

<body>
  <main class="cat_main">
    <div class="inner">
      <h1 class="page-title">SHARE YOUR CUTIE'S PICTURES</h1>
      <h3>にゃんこちゃんの可愛い写真をシェアしよう！</h3>
      <div class="pic__wrapper">
        <div class="pic">
          <%= image_tag "test.jpeg", class:"posted_pic" %>
          <div class="card__body">
            <h2 class="card__title">猫の写真のタイトル</h2>
            <p class="card__summary">
              記事のコメントを入れれる。空白はダメだよー
            </p>
          </div>
        </div>
      </div>
      <%= link_to "投稿する", new_cat_main_path %>
    </div>

      <h1 class="page-title">RECOMMENDATIONS for your cats</h1>
        <h3>おすすめをシェアしよう！</h3>
        <div class ="recommendations_main">
          <ul>
            <%= link_to "#" do %>
              <li class="recommended_list"><%= image_tag "recommended_foods.jpg" %><p class="recommendation_title">CAT FOOD</p></li>
            <% end %>
            <%= link_to "#" do %>
             <li class="recommended_list"><%= image_tag "recommended_toys.jpg" %><p class="recommendation_title">TOYS</p></li>
            <% end %>
           <%= link_to "#" do %>
            <li class="recommended_list"><%= image_tag "recommended_vets.jpg" %><p class="recommendation_title">VET</p></li>
          <% end %>
          </ul>
        </div>
        
      <h1 class="page-title">LET'S HAVE A CHAT!</h1>
        <h3>情報交換をしよう！</h3>
        <div>

        </div>

        <div class="top_page_link">
        <%= link_to "トップページへ戻る", "/"%>
        </div>
  </main>
</body>

<%= render "shared/footer" %>
