<%= render "shared/header" %>

<body>
  <main class="cat_main">
    <div class="inner">
      <h1 class="page-title">SHARE YOUR CUTIE'S PICTURES</h1>
      <h3>にゃんこちゃんの可愛い写真をシェアしよう！</h3>
      <div class="pic__wrapper">
        <div class="pic">
          <img src="./image/test.jpeg" alt="" class="posted_pic" />
          <div class="card__body">
            <h2 class="card__title">猫の写真のタイトル</h2>
            <p class="card__summary">
              記事のコメントを入れれる。空白はダメだよー
            </p>
          </div>
        </div>


        <div class="pic">
          <img src="./image/test1.jpeg" alt="" class="posted_pic" />
          <div class="card__body">
            <h2 class="card__title">タイトルかわいい！</h2>
            <p class="card__summary">
              今日も絶好調で可愛いうちの子
            </p>
          </div>
        </div>
        <div class="pic">
          <img src="./image/test2.png" alt="" class="posted_pic" />
          <div class="card__body">
            <h2 class="card__title">かわえかろう！</h2>
            <p class="card__summary">
              最近めっちゃ疲れた
            </p>
          </div>
        </div>
      </div>
    </div>

      <h1 class="page-title">RECOMMENDATIONS for your cats</h1>
        <div class ="recommendations_main">
          <ul>
            <%= link_to "#" do %>
              <li class="recommended_foods"><%= image_tag "recommended_foods.jpg" %></li>
            <% end %>
            <%= link_to "#" do %>
             <li class="recommended_toys"><%= image_tag "recommended_toys.jpg" %></li>
            <% end %>
           <%= link_to "#" do %>
            <li class="recommended_vets"><%= image_tag "recommended_vets.jpg" %></li>
          <% end %>
          </ul>
        </div>
        
      <h1 class="page-title">ANY PROBLEMS?</h1>
        <div>

        </div>

        <div class="top_page_link">
        <%= link_to "トップページへ戻る", "/"%>
        </div>
  </main>
</body>

<%= render "shared/footer" %>
